.dashContainer{
    background-color: #EEEEEE;
    color: #3C4858;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.filterBar{
    background-color: #F1D302;
    height: 720px;
    width: 15%;
    float: left;
    box-shadow: 5px 10px;
}

.candax{
    background-color: darkslategrey;
    text-align: center;
    color: aliceblue;
}

.vertical-menu {
    margin:0 auto;
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #F1D302; /* Grey background color */
    color: #050401; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 1.3em; /* 30px/16=1.875em */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}